<%- include('../includes/head.ejs')%>
<%- include('../includes/navigation.ejs')%>
<main>
    <br>
    <form action='/admin/login-signup'>
        <button class='btn btn-info'>
            Admin Login
        </button>
    </form><br>
    <form action='/user/login'>
        <button class='btn btn-info'>
            Lab-Rat Login
        </button>
    </form><br>
    <form action='/all-researches'>
        <button class='btn btn-info'>
            Research Surveys
        </button>
    </form>
</main>
<%- include('../includes/foot.ejs')%>